# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Password file
db_pass.*

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
/bin/
/test/
node_modules

# dotenv
.env

# virtualenv
venv/
ENV/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test
.pytest_cache/

# Mypy (static type checking)
.mypy_cache/

# Credentials for calendar
credentials.json
token.pickle